<div class="row" *ngIf="item">
    <div class="col-4">
        <div class="card">
            <img src="{{item.photoUrl || './assets/user.png'}}" alt="{{item.productName}}"
            class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                <p>{{item.productName}}</p>
                </div>
                <div>
                    <strong>Price:</strong>
                    <p>{{item.price}}</p>
                </div>
                <div>
                    <strong>Category:</strong>
                    <p>{{item.category}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-success" (click)="addLike(item)">Add to Cart</button>
                    <button class="btn btn-primary"  routerLink="./edit">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="item-tabset">
            <tab heading="About {{item.productName}}">
                <h4>Description</h4>
                <p>{{item.description}}</p>
                <h4>About Company</h4>
                <p>{{item.aboutCompany}}</p>
                <h4>Specified For</h4>
                <p>{{item.specifiedFor}}</p>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                style="display:inline-block; margin: bottom 20px;"></ngx-gallery>
            </tab>
            <tab heading="Opinions">
                <div *ngFor="let opinion of opinions" class="card mb-4">
                    <div class="card-body">
                      <p>{{opinion.content}}</p>
          
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <h4 class="">{{opinion.senderUsername}}</h4>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <p class="small text-muted mb-0">Upvote?</p>
                          <i class="fa fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                          <p class="small text-muted mb-0">3</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div *ngIf="canComment">
                    <form #editForm="ngForm" id="editForm" (ngSubmit)="addOpinion(item,content)">
                        <textarea class="form-control" [(ngModel)]="content" name="content" rows="6"></textarea>
                        <div class="card-footer float-end">
                            <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-secondary btn-block">Save changes</button>
                        </div>
                    </form>
                </div>
                <button *ngIf="!canComment" class="btn btn-secondary" (click)="onClick()">Share your opinion</button>
            </tab>
        </tabset>
    </div>
</div>
